%ul
  %li=link_to "Aktuelle", vorlage_index_path
  %li=link_to "in Beratung", vorlage_path(:in_beratung)
  %li=link_to "Beschlossene", vorlage_path(:beschlossene)
  %li=link_to "Alle", vorlage_path(:all)
