%p Sie haben auf Offener Rat Münster Ihre E-Mail Adresse eingetragen um Benachrichtungen zu bekommen.
%p Um diese zu bekommen müssen Sie dies bestätigen. Klicken Sie den folgenden Link oder kopieren Sie die Adresse:
= notification_authentication_url(token: @notification.token)