.row-fluid
  .span12
    %h1 Themen

    - @subjects.each do |subject|
      %h4
        %span=subject.title
        = link_to image_tag('rss.png'), subject_path(subject.id,format: :atom)
      %dl
        %dt Vorlagen
        - subject.vorlagen.letzte.limit(5).each do |vorlage|
          %dd=link_to "#{vorlage.name}: #{vorlage.title}", vorlage
