// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
dt {
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
  margin: 0 0 10px 0;
}
dl {
  border: 1px solid #eee;
  padding: 5px 0;
}
dl.sitzungen ul {
  margin: 0 0 10px 10px;
}
dl.sitzungen ul li {
  list-style: none;
}

#tweets {
  margin: 0 0 20px 0;
}
