// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
dt {
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
  margin: 0 0 10px 0;
}
dl {
  border: 1px solid #eee;
  padding: 5px 0;
}
dl dd p {
  margin: 5px;
  padding: 0 0 5px 0;
}

dl.sitzungen ul {
  margin: 0 0 10px 10px;
}
dl.sitzungen ul li {
  list-style: none;
}

#tweets {
  margin: 0 0 20px 0;
}
.gremien_color {
  text-decoration: none;
  width: 15px;
  height: 100%;
  display: block;
  border: 1px solid #cecece;
}
.table.table-borderless td,
.table.table-borderless th {
    border: none;
}
.table.table-inner td{
  padding: 4px 5px 4px 0px;
}
.table.table-inner td:first-child {
  padding: 0px 5px 4px 0px;
}
.table.table-inner {
  margin-bottom: 0px;
}
dl.districts dt{
  position:relative
}
