- vorlagen.each do |vorlage|
  %tr
    %td=link_to "#{vorlage.name}", vorlage
    %td="#{vorlage.title}"
    %td
      %ul
        - if vorlage.gremien_path || vorlage.decission
          %li= render partial: "vorlage/link", locals: { color: vorlage.decission_color, title: vorlage.decission.gremium.title, content: vorlage.decission_content } if vorlage.decission
          - vorlage.gremien_path.each do |gremium|
            %li= render partial: "vorlage/link", locals: { color: gremium.color, title: gremium.title, content: vorlage.gremium_content(gremium) } if gremium
