#vorlagen
  %h1
    %span Vorlagen in Beratung
    = link_to image_tag('rss.png'), vorlage_path("all",:atom)
  %table.table.table-striped
    = render partial: "vorlage/table_list", locals: { vorlagen: @vorlagen, gremium: nil, show_gremien: true }
