#vorlagen
  = render partial: "vorlage/filter"
  %h1
    %span=@title
    = link_to image_tag('rss.png'), vorlage_path(controller.action_name,:atom)
  %table.table.table-striped
    = render partial: "vorlage/table_list", locals: { vorlagen: @vorlagen, gremium: nil, show_gremien: true }
