#vorlagen
  %h1
    %span Vorlagen
    = link_to image_tag('rss.png'), vorlage_index_path(:rss)
  %table.table.table-striped
    = render partial: "vorlage/table_list", locals: { vorlagen: @vorlagen, gremium: nil, show_gremien: true }
