%p Offener Rat Münster ist ein ehrenamtliches Projekt. Das Projekt basiert auf Daten des Ratsinformationssystem der Stadt Münster, ist jedoch vom Rat und der Stadt unabhängig.

= link_to "Impressum", 'impressum'
